:root{
    --darkGray-background: #242424;
    --darkGray-hover: #151515;
    --lightGray-hover: #636363;
    --lightGray-search: #4A4A4A;
    --darkGray-fastLink-hover: #303030;
    --gray-border: #636363;
    --gray-underline: #3D3D3D;
    --gray-background: #4A4A4A;
    --gray-hover: #191919;
    --white: #FFF;
    --blue-search: #0078D4;
    --blue-search-hover: #006CBE;
    --blue-border: #1683D8;
    --blue-icon: #1D547E;

    /* ! Icon colors */
    --youtube: #F20000;
    --github: #FFF;
    --linkedin: #0071AE;
    --facebook: #1672E6;
    --google: #44BE54;
    --bootstrap: #7611ED;
    --html: #E56027;
    --skype: #00A6E4;
    --stackoverflow: #E87921;
}

