:root{
    --darkGray-background: #242424;
    --darkGray-hover: #151515;
    --lightGray-hover: #636363;
    --lightGray-search: #4A4A4A;
    --darkGray-fastLink-hover: #414141;
    --white: #FFF;
    --blue-search: #0078D4;
    --blue-search-hover: #006CBE;
}