body {
  margin: 0;
  background-color: var(--darkGray-background);
  color: var(--white);
  font-family: sans-serif;
  box-sizing: border-box;
}

span:hover {
  cursor: pointer;
}

input {
  outline: none;
  caret-color: var(--white);
  font-size: 17px;
}

.fs-14{
  font-size: 14px;
}

.text-white{
  color: var(--white);
}

.select:hover {
  background-color: var(--darkGray-fastLink-hover);
  cursor: pointer;
}

.header {
  height: 10vh;
  background-color: var(--darkGray-background);
}

.icons, .weather, .icon-select, .icons-footer {
  height: 35px;
  width: 35px;
}

.weather:hover{
  cursor: pointer;
}

.icons:hover {
  background-color: var(--darkGray-hover);
  border-radius: 3px;
  cursor: pointer;
}

.gear:hover {
  background-color: var(--lightGray-hover);
  border-radius: 2px;
  cursor: pointer;
}

.main {
  height: 90vh;
  background-color: var(--darkGray-background);
}

.footer {
  height: 10vh;
  background-color: var(--darkGray-background);
  position: fixed;
  bottom: 0;
}

.footer.left, .footer.right {
  height: 100%;
  position: fixed;
  bottom: 0;
}

.field {
  width: 50%;
  border-radius: 18px;
  background-color: var(--lightGray-search);
  border: 1px solid var(--lightGray-search);
  padding-left: 15px;
  padding-top: 5px;
  color: var(--white);
}

.button {
  width: 70px;
  height: 38.8px;
  border-radius: 0px 18px 18px 0px;
  background-color: var(--blue-search);
  border: 1px solid var(--blue-search);
  color: var(--white);
}

.button:hover {
  background-color: var(--blue-search-hover);
  cursor: pointer;
}

.main-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.text {
  text-decoration: none;
  color: var(--white);
  font-size: 0.74rem;
  margin-left: 10px;
}

.text:hover {
  border-bottom: 1px solid var(--white);
}

.fast-links {
  height: 28px;
  width: 28px;
  border-radius: 14px;
  background-color: var(--darkGray-background);
  border: none;
}

.fast-links:hover {
  background-color: var(--darkGray-fastLink-hover);
  cursor: pointer;
}

.table-icon:hover {
  cursor: pointer;
  border: 1px solid var(--white);
}

.list-icon {
  color: var(--blue-icon);
}

.links {
  height: 20%;
  width: 100%;
  transition: all ease 5;
} 

.link-icon {
  color: var(--white);
  width: 7%;
  height: 75%;
}

.img{
  background-color: var(--gray-background);
  padding: 8px;
  border-radius: 13px;
}

.link-icon:hover {
  background-color: var(--gray-hover);
  border-radius: 6px;
  cursor: pointer;
}

.link-icons {
  font-size: 30px;
}

.select{
  border: 1px solid var(--gray-border);
  width: 18%;
  height: 25px;
  border-radius: 20px;
}

.gray-border{
  border: 1px solid var(--gray-border);
  border-radius: 4.5px;
}

.gray-border:hover{
  border: 1px solid var(--white);
}

.blue-border{
  border: 1px solid var(--blue-border);
  border-radius: 4.5px;
}

.weather-card{
  height: 100%;
  background-color: red;
}
